.bt {
  background-color: black;
  label {
    color: white !important;
  }
  .ant-input {
    background-color: #1e1e1e !important;
    color: white !important;
    border: none !important;
  }
  .ant-btn-primary {
    box-shadow: none !important;
  }
}

.bt-editor {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 46px);
}

.honeyA,
.honeyB,
.hornetA,
.hornetB {
  width: 100%;
  position: relative;
  height: calc((100vh - 46px - 23px) / 2);
}

.settings {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
}

.runBtn {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 35px;
  // 黑金边框
  background-color: #333333;
  display: flex;
  align-items: center;
  border: #4dbb5f solid 1px;
  transition: all 0.3s;
  & > span {
    font-size: 18px;
    color: #4dbb5f;
    transition: all 0.3s;
  }
  &:hover {
    background-color: #4dbb5f !important;
    & > span {
      color: white !important;
      transition: all 0.3s;
    }
  }
}
// .check {
//   z-index: 1;
//   position: absolute;
//   right: 70px;
// }
.upload {
  z-index: 1;
  position: absolute;
  right: 0;
}

.st-header {
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

.batchTask-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.ant-form-item-label > label {
  color: white;
}

.ReactModalPortal {
  margin-top: -100vh;
  width: 100vw;
  height: 100vh;
  z-index: 9997;
}

.overlay {
  height: 100%;
  background-color: transparent;
  z-index: 9997;
}

.content {
  background-color: transparent;
  height: 100%;
  z-index: 9997;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  width: 25vw;
  border-radius: 5px;
  background-color: #fff;
  z-index: 9999;
}

.cancel {
  margin-top: 1%;
}

.bt-editor-left,
.bt-editor-right {
  height: calc(100vh - 46px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  background-color: #333333;
  & > span {
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.fs-mask {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.fs-mask-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.loading-content {
  margin-top: 20px;
  height: 50px;
  width: 500px;
  opacity: 1;
}

.ant-spin-nested-loading .ant-spin-blur {
  opacity: 1;
}
.ant-spin-nested-loading .ant-spin-blur::after {
  opacity: 0;
}
.ant-progress-text {
  font-size: 24px;
  color: white !important;
}
.ant-progress {
  display: inline-flex;
}

.loading-content-stat {
  color: white;
  font-size: 20px;
}
