.box {
  height: 500px;
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}

.box_left,
.box_right {
  & > span {
    display: flex;
    justify-content: center;
  }
}

.box_right {
  height: 500px;
}

.result_text {
  font-size: 22px;
}

.result_text_name {
  color: #5972c6;
}
